<div class="well text-center">
    <h2 style="margin-bottom: 20px; margin-top: 0px;">{{'xmlExport' | translate}}</h2>
    <div id="bc1" class="myBreadcrumb">
        <a class="completed" routerLink="/xmlImport"><div>{{'xmlImport' | translate}}</div></a>
        <a class="completed" routerLink="/forecast"><div>{{'prediction_planning' | translate}}</div></a>
        <a class="completed" routerLink="/materialPlanning"><div>{{'material_Planning' | translate}}</div></a>
        <a class="completed" routerLink="//materialPlanningEP"><div>{{'mpEP_MaterialPlanningEP' | translate}}</div></a>
        <a class="completed" routerLink="/prioritization"><div>{{'sidebar_prio' | translate}}</div></a>
        <a class="completed" routerLink="/capacityPlanning"><div>{{'capacity_planning' | translate}}</div></a>
        <a class="active" routerLink="/xmlExport"><div>{{'xmlExport' | translate}}</div></a>
    </div>
</div>
<button class="btn btn-success" (click)="downloadFIle()"></button>
<textarea class="fullScreenTextArea" [(ngModel)]="displayString"></textarea>
