<table class="table">
    <thead>
    <tr>
        <th>Nr.Kaufteil</th>
        <th>Lieferfrist</th>
        <th>Abweichung</th>
        <th>Summe</th>
        <th>Verwendung
            <tr>
                <td>p1</td>
                <td>p2</td>
                <td>p3</td>
            </tr>

        </th>
        <th>Diskontmenge</th>
        <th>Anfangsbestand Per n</th>
        <th>Bruttobedarf nach Produktionsprogramm</th>
        <th>Menge ohne Bestellung</th>
        <th>Bestellmenge</th>
        <th>Bestelltyp</th>
        <th>Bestand nach gepl. Wareneingang</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>21</td>
        <td>1,8</td>
        <td>0,4</td>
        <td>50</td>
        <td>wp1</td>
        <td>wp2</td>
        <td>wp3</td>
    </tr>
    <tr>
        <td>22</td>
        <td>1,7</td>
        <td>0,4</td>
        <td>150</td>
        <td>wp1</td>
        <td>wp2</td>
        <td>wp3</td>
    </tr>
    </tbody>
</table>