<div class="well">
    <div class="">
        <div class="row">
            <h2>Kapazitätsplanung</h2>
            <ul class="breadcrumb">
                <!--completed-->
                <li class="completed"><a routerLink="/xmlImport" routerLinkActive="active">{{'xmlImport' |
                    translate}}</a></li>
                <li class="completed"><a routerLink="/prediction" routerLinkActive="active">{{'prediction_planning' |
                    translate}}</a></li>
                <li class="active"><a routerLink="/materialPlanning" routerLinkActive="active">{{'material_Planning' |
                    translate}}</a></li>
                <li class=""><a routerLink="/capacityPlanning" routerLinkActive="active">{{'capacity_planning' |
                    translate}}</a></li>
            </ul>
        </div>
    </div>
</div>

<table class="table-responsive table-bordered table-striped">
    <caption class="text-center">{{'material_Planning' | translate}}</caption>
    <thead>
    <tr>
        <th colspan="1" class="text-center">{{'num_purchase_part' | translate}}</th>
        <th colspan="1" class="text-center">{{'delivery_time' | translate}}</th>
        <th colspan="1" class="text-center">{{'deviation' | translate}}</th>
        <th colspan="1" class="text-center">{{'sum' | translate}}</th>
        <th colspan="3" class="text-center">{{'use' | translate}}</th>
        <th colspan="1" class="text-center">{{'discount_sum' | translate}}</th>
        <th colspan="1" class="text-center">{{'opening_stock' | translate}}</th>
        <th colspan="4" class="text-center">{{'gross_requirements_period' | translate}}</th>
        <th colspan="1" class="text-center">{{'sum_without_order' | translate}}</th>
        <th colspan="1" class="text-center">{{'volume_ordered' | translate}}</th>
        <th colspan="1" class="text-center">{{'ordertype' | translate}}</th>
        <th colspan="4" class="text-center">{{'stock_after_receipt' | translate}}</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th scope="col">P1</th>
        <th scope="col">P2</th>
        <th scope="col">P3</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th></th>
        <th></th>
        <th>E</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let pP of purchaseParts">
        <td>{{pP.nummer}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{pP.lagerMenge}}</td>
        <td></td>
        <td>{{openingStock}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>