<div class="well">
    <div class="">
        <div class="row">
            <h2>XML Import und JSON Converter</h2>
            <ul class="breadcrumb">
                <!--completed-->
                <li class="active"><a routerLink="/xmlImport" routerLinkActive="active">{{'xmlImport' | translate}}</a></li>
                <li class=""><a routerLink="/prediction" routerLinkActive="active">{{'prediction_planning' | translate}}</a></li>
                <li class=""><a routerLink="/materialPlanning" routerLinkActive="active">{{'material_Planning' | translate}}</a></li>
                <li class=""><a routerLink="/capacityPlanning" routerLinkActive="active">{{'capacity_planning' | translate}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-2">
    <input type="file" (change)="changeListener($event)">
</div>
<textarea class="fullScreenTextArea" [hidden]="!resultObj.results" [(ngModel)]="xml"></textarea>
<button></button>

