<div class="well col-md-3" style="margin-left: 1%; margin-right: 1%;">
    <div class="form-group">
        <label for="part_nummer">Nummer</label>
        <input type="number" [(ngModel)]="part.nummer" name="nummer" class="form-control" placeholder="Nummer" id="part_nummer">
    </div>
    <div class="form-group">
        <label for="part_bez">{{'setWorkstations_name' | translate}}</label>
        <input type="text" [(ngModel)]="part.bezeichnung" name="bezeichnung" class="form-control" placeholder="Bezeichnung" id="part_bez">
    </div>
    <div class="form-group">
        <label for="part_wert">Wert</label>
        <input type="number" min="1" [(ngModel)]="part.wert" name="wert" class="form-control" placeholder="Wert" id="part_wert">
    </div>
    <div class="form-group">
        <label for="part_nummer">Lagermenge</label>
        <input type="number" [(ngModel)]="part.lagerMenge" name="lagermenge" class="form-control" placeholder="Lagermenge" id="part_lagermenge">
    </div>
    <div class="form-group">
        <label for="part_typ">Typ </label>
        <ss-multiselect-dropdown [options]="typOptions" [texts]="multiSelectTexts" [settings]="typSettings"
                                 [(ngModel)]="part.typ" id="part_typ">
        </ss-multiselect-dropdown>
    </div>
    <div class="form-group">
        <label for="part_verwendung">Verwendung </label>
        <ss-multiselect-dropdown [options]="verwOptions" [texts]="multiSelectTexts" [settings]="verwSettings"
                                 [(ngModel)]="part.typ" id="part_verwendung">
        </ss-multiselect-dropdown>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default btn-block" (click)="modalBestandteile.open('lg')">Bestandteile</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default btn-block" (click)="modalArbeitsplaetze.open('lg')">Arbeitsplätze</button>
    </div>

    <div class="form-group" align="right">
        <button type="button" class="btn btn-danger">
            Zurücksetzen</button>
        <button type="button" class="btn btn-success">
            Hinzufügen
        </button>
    </div>
</div>

<div class="well col-md-8" style="margin-left: 1%; margin-right: 1%;">
    <table width="100%">
        <thead>
        <tr>
            <th width="10%">Nummer</th>
            <th width="25%">Bezeichnung</th>
            <th width="10%">Typ</th>
            <th width="15%">Wert</th>
            <th width="15%">Lagermenge</th>
            <th width="12.5%"></th>
            <th width="12.5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pt of parts" style="height: 40px;">
            <td width="10%">
                {{pt.nummer}}
            </td>
            <td width="25%">
                {{pt.bezeichnung}}
            </td>
            <td width="10%">
                {{pt.typ}}
            </td>
            <td width="15%">
                {{pt.wert}}
            </td>
            <td width="15%">
                {{pt.lagerMenge}}
            </td>
            <td width="12.5%" style="padding-right: 5px" align="right">
                <input type="button"  value="{{'setWorkstations_edit' | translate}}"
                       class="btn btn-info">
            </td>
            <td width="12.5%" style="padding-left: 5px" align="left">
                <input type="button"  value="{{'setWorkstations_delete' | translate}}"
                       class="btn btn-danger">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<modal #modalBestandteile style="width: 100%">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Bestandteile auswählen</h4>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Verfügbare Teile
                    </div>
                    <div class="panel-body" dnd-sortable-container [dropZones]="['teileDropZone']" [sortableData]="listVerfuegbareTeile">
                        <ul class="list-group" >
                            <li *ngFor="let verfPart of listVerfuegbareTeile; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                {{verfPart.typ + verfPart.nummer + "-" + verfPart.bezeichnung + " - " + verfPart.verwendung}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                       Bestandteile von xy
                    </div>
                    <div class="panel-body" dnd-sortable-container [dropZones]="['teileDropZone']" [sortableData]="listBestandteile">
                        <ul class="list-group" >
                            <li *ngFor="let bestPart of listBestandteile; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                {{bestPart.typ + bestPart.nummer + "-" + bestPart.bezeichnung + " - " + bestPart.verwendung}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>`
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalBestandteile.close()">Ok</button>
    </modal-footer>
</modal>

<modal #modalArbeitsplaetze style="width: 100%">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Arbeitsplätze auswählen</h4>
    </modal-header>
    <modal-body>
        <div class="workstation-list" align="center">
            <div class="col-md-1">
                Auswahl
            </div>
            <div class="col-md-4">
                Arbeitsplatz
            </div>
            <div class="col-md-2">
                Rüstzeit
            </div>
            <div class="col-md-2">
                Fertigugnszeit
            </div>
            <div class="col-md-3">
                Nächster Arbeitsplatz
            </div>
            <br><br>
            <div *ngFor="let ws of workstations">
                <div class="col-md-1">
                    <input type="checkbox" [checked]="false">
                </div>
                <div class="col-md-4" align="left">
                    {{ws.nummer + " - " + ws.name}}
                </div>
                <div class="col-md-2">
                    <input type="number" min="1" [(ngModel)]="ruestZeit[ws.nummer]" name="ruestZeit"
                           class="form-control" placeholder="Rüstzeit">
                </div>
                <div class="col-md-2">
                    <input type="number" min="1" [(ngModel)]="fertigungsZeit[ws.nummer]" name="fertigungsZeit"
                           class="form-control" placeholder="Fertigungszeit">
                </div>
                <div class="col-md-3">
                    <ss-multiselect-dropdown [options]="nextWsOptions" [(ngModel)]="nextArbeitsplaetze[ws.nummer]"
                                             [texts]="multiSelectTexts" [settings]="nextWsSettings">
                    </ss-multiselect-dropdown>
                </div>
                <br><br>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalArbeitsplaetze.close()">Ok</button>
    </modal-footer>
</modal>