<div class="well col-md-3" style="margin-left: 1%; margin-right: 1%;">
    <div class="form-group">
        <label for="part_typ">{{'setParts_typ' | translate}}</label>
        <ss-multiselect-dropdown [options]="typOptions" [texts]="multiSelectTexts" [settings]="typSettings"
                                 [(ngModel)]="part.typ" id="part_typ">
        </ss-multiselect-dropdown>
    </div>
    <div class="form-group"  [hidden]="!(part.typ != undefined && part.typ.length > 0)">
        <label for="part_nummer">{{'setParts_number' | translate}}</label>
        <input type="number" [(ngModel)]="part.nummer" name="nummer" class="form-control" placeholder="{{'setParts_number' | translate}}" id="part_nummer">
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ.length > 0)">
        <label for="part_bez">{{'setParts_title' | translate}}</label>
        <input type="text" [(ngModel)]="part.bezeichnung" name="bezeichnung" class="form-control" placeholder="{{'setParts_title' | translate}}" id="part_bez">
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ.length > 0)">
        <label for="part_wert">{{'setParts_worth' | translate}}</label>
        <input type="number" min="1" [(ngModel)]="part.wert" name="wert" class="form-control" placeholder="{{'setParts_worth' | translate}}" id="part_wert">
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ.length > 0)">
        <label for="part_nummer">{{'setParts_stock' | translate}}</label>
        <input type="number" [(ngModel)]="part.lagerMenge" name="lagermenge" class="form-control" placeholder="{{'setParts_stock' | translate}}" id="part_lagermenge">
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ[0] == '3' && part.typ[0] != undefined)">
        <label for="part_lieferfrist">{{'setParts_delPeriod' | translate}}</label>
        <input type="number" [(ngModel)]="part.lieferfrist" name="lieferfrist" class="form-control" placeholder="{{'setParts_delPeriod' | translate}}" id="part_lieferfrist">
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ[0] == '3' && part.typ[0] != undefined)">
        <label for="part_abweichung">{{'setParts_deviation' | translate}}</label>
        <input type="number" [(ngModel)]="part.abweichung" name="abweichung" class="form-control" placeholder="{{'setParts_deviation' | translate}}" id="part_abweichung">
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ[0] == '3' && part.typ[0] != undefined)">
        <label for="part_diskontmenge">{{'setParts_discount' | translate}}</label>
        <input type="number" [(ngModel)]="part.diskontmenge" name="diskontmenge" class="form-control" placeholder="{{'setParts_discount' | translate}}" id="part_diskontmenge">
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ.length > 0)">
        <label for="part_verwendung">{{'setParts_usage' | translate}}</label>
        <ss-multiselect-dropdown [options]="verwOptions" [texts]="multiSelectTexts" [settings]="verwSettings"
                                 [(ngModel)]="part.verwendung" id="part_verwendung">
        </ss-multiselect-dropdown>
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ[0] != '3' && part.typ[0] != undefined)">
        <button type="button" class="btn btn-default btn-block" (click)="modalBestandteile.open()">{{'setParts_components' | translate}}</button>
    </div>
    <div class="form-group" [hidden]="!(part.typ != undefined && part.typ[0] != '3' && part.typ[0] != undefined)">
        <button type="button" class="btn btn-default btn-block" (click)="modalArbeitsplaetze.open('lg')">{{'setParts_workstations' | translate}}</button>
    </div>

    <div class="form-group" align="right" [hidden]="!(part.typ != undefined && part.typ.length > 0)">
        <button type="button" class="btn btn-danger" (click)="resetAll()">
            {{'setParts_reset' | translate}}</button>
        <button type="button" class="btn btn-success" (click)="updatePart($event)">
            <span *ngIf="!part._id">{{'setParts_add' | translate}}</span>
            <span *ngIf="part._id">{{'setParts_update' | translate}}</span>
        </button>
    </div>
</div>

<div class="well col-md-8" style="margin-left: 1%; margin-right: 1%;">
    <table width="100%">
        <thead>
        <tr>
            <th width="10%">{{'setParts_number' | translate}}</th>
            <th width="25%">{{'setParts_title' | translate}}</th>
            <th width="10%">{{'setParts_typ' | translate}}</th>
            <th width="15%">{{'setParts_worth' | translate}}</th>
            <th width="15%">{{'setParts_stock' | translate}}</th>
            <th width="12.5%"></th>
            <th width="12.5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pt of parts" style="height: 40px;">
            <td width="10%">
                {{pt.nummer}}
            </td>
            <td width="25%">
                {{pt.bezeichnung}}
            </td>
            <td width="10%">
                {{pt.typ}}
            </td>
            <td width="15%">
                {{pt.wert}}
            </td>
            <td width="15%">
                {{pt.lagerMenge}}
            </td>
            <td width="12.5%" style="padding-right: 5px" align="right">
                <input type="button"  value="{{'setParts_edit' | translate}}"
                       class="btn btn-info" (click)="setPart(pt)">
            </td>
            <td width="12.5%" style="padding-left: 5px" align="left">
                <input type="button"  value="{{'setParts_delete' | translate}}"
                       class="btn btn-danger" (click)="deletePart(pt)">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<modal #modalBestandteile style="width: 100%">
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{'setParts_chooseComp' | translate}}</h4>
    </modal-header>
    <modal-body>
        <div class="parts-list" align="center">
            <div class="col-md-2">
                {{'setParts_check' | translate}}
            </div>
            <div class="col-md-6">
                {{'setParts_part' | translate}}
            </div>
            <div class="col-md-4">
                {{'setParts_amount' | translate}}
            </div>
            <br><br>
            <div *ngFor="let pts of parts">
                <div class="col-md-2">
                    <input type="checkbox" [checked]="checkedParts[pts.nummer]" (click)="updateCheckedStatus(2,pts)">
                </div>
                <div class="col-md-6" align="left">
                    {{pts.nummer + " - " + pts.bezeichnung}}
                </div>
                <div class="col-md-4">
                    <input type="number" min="1" [(ngModel)]="anzahl[pts.nummer]" name="anzahl"
                           class="form-control" placeholder="Anzahl">
                </div>
                <br><br>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalBestandteile.close()">Ok</button>
    </modal-footer>
</modal>

<modal #modalArbeitsplaetze style="width: 100%">
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{'setParts_chooseWs' | translate}}</h4>
    </modal-header>
    <modal-body>
        <div class="workstation-list" align="center">
            <div class="col-md-1">
                {{'setParts_check' | translate}}
            </div>
            <div class="col-md-4">
                {{'setParts_workstation' | translate}}
            </div>
            <div class="col-md-2">
                {{'setParts_setUp' | translate}}
            </div>
            <div class="col-md-2">
                {{'setParts_procTime' | translate}}
            </div>
            <div class="col-md-3">
                {{'setParts_nextWs' | translate}}
            </div>
            <br><br>
            <div *ngFor="let ws of workstations">
                <div class="col-md-1">
                    <input type="checkbox" [checked]="checkedAP[ws.nummer]" (click)="updateCheckedStatus(1,ws)">
                </div>
                <div class="col-md-4" align="left">
                    {{ws.nummer + " - " + ws.name}}
                </div>
                <div class="col-md-2">
                    <input type="number" min="1" [(ngModel)]="ruestZeit[ws.nummer]" name="ruestZeit"
                           class="form-control" placeholder="Rüstzeit">
                </div>
                <div class="col-md-2">
                    <input type="number" min="1" [(ngModel)]="fertigungsZeit[ws.nummer]" name="fertigungsZeit"
                           class="form-control" placeholder="Fertigungszeit">
                </div>
                <div class="col-md-3">
                    <ss-multiselect-dropdown [options]="nextWsOptions" [(ngModel)]="nextArbeitsplaetze[ws.nummer]"
                                             [texts]="multiSelectTexts" [settings]="nextWsSettings">
                    </ss-multiselect-dropdown>
                </div>
                <br><br>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalArbeitsplaetze.close()">Ok</button>
    </modal-footer>
</modal>
<modal #modalPartExists>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{'setParts_exists' | translate}}</h4>
    </modal-header>
    <modal-body>
        {{'setParts_number' | translate}} {{part.nummer}} {{'setParts_exists_body' | translate}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalPartExists.close()">Ok</button>
    </modal-footer>
</modal>
<modal #modalPartEmpty>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{'setParts_empty' | translate}}</h4>
    </modal-header>
    <modal-body>
        {{'setParts_empty_body' | translate}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalPartEmpty.close()">Ok</button>
    </modal-footer>
</modal>