<div id="page-wrapper" [ngClass]="{'open': toggle}">
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a (click)="toggleSidebar()">
                    IBSYS2 - PPS
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>{{'navigation' | translate}}</span></li>
            <li class="sidebar-list">
                <a routerLink="/" routerLinkActive="active">{{'home' | translate}}<span class="menu-icon fa fa-home"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/tasks" routerLinkActive="active">Tasks<span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a>Überischt<span class="menu-icon fa fa-table"></span></a>
            </li>
            <li class="sidebar-title"><span>Planung</span></li>
            <li class="sidebar-list">
                <a>Aufträge<span class="menu-icon fa fa-cubes"></span></a>
            </li>
            <li class="sidebar-list">
                <a>Fertigung<span class="menu-icon fa fa-cogs"></span></a>
            </li>
            <li class="sidebar-list">
                <a>Kapazität<span class="menu-icon fa fa-battery-half"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://github.com/ziyasal/rdash-angular2" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://github.com/ziyasal/rdash-angular2/blob/master/README.md" target="_blank">
                    About
                </a>
            </div>
            <div class="col-xs-4">
                <a href="javascript:void(0)">
                    Support
                </a>
            </div>
        </div>
    </div>
    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->

            <router-outlet></router-outlet>

        </div>


    </div>
</div>

