<div *ngIf="hideSidebar" [class.show]="hideSidebar" class="container jumbotron step" style="background: #30426a">
    <div class="item dropdown pull-right" style="margin-right: 100px;">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-language fa-5x"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                {{'headbar_languages' | translate}}
            </li>
            <li class="divider"></li>
            <li (click)="setLang('de')">
                <a>{{'headbar_german' | translate}}</a>
            </li>
            <li (click)="setLang('en')">
                <a>{{'headbar_english' | translate}}</a>
            </li>
        </ul>
    </div>
    <div style="padding-top: 100px;" >
        <div align="center" style="color: #e0e0e0; height: 349px;">
            <h1 style="margin-bottom: 50px;">Ibsys 2 PPS Tool</h1>
            <div [hidden]="loginSuccess">
                <label >{{'username' | translate}}: </label>
                <input type="text" style="color: #30426a;" placeholder="{{'username' | translate}}" [(ngModel)]="username">
                <label>{{'password' | translate}}: </label>
                <input type="password" style="color: #30426a;" placeholder="{{'password' | translate}}" [(ngModel)]="password">
                <button class="btn btn-primary" (click)="trylogin()">Login</button>
            </div>
            <div [hidden]="!loginSuccess">
                <h3 style="margin-bottom: 20px;">{{'home_welcome' | translate}}</h3>
                <label class="text-center"></label>
                <div id="bc1" class="myBreadcrumb" style="margin-bottom: 40px;" (click)="click()">
                    <a class="" routerLink="/xmlImport"><div>{{'xmlImport' | translate}}</div></a>
                    <a class="" routerLink="/forecast"><div>{{'prediction_planning' | translate}}</div></a>
                    <a class="" routerLink="//materialPlanningEP"><div>{{'mpEP_MaterialPlanningEP' | translate}}</div></a>
                    <a class="" routerLink="/materialPlanning"><div>{{'material_Planning' | translate}}</div></a>
                    <a class="" routerLink="/prioritization"><div>{{'sidebar_prio' | translate}}</div></a>
                    <a class="" routerLink="/capacityPlanning"><div>{{'capacity_planning' | translate}}</div></a>
                    <a class="" routerLink="/xmlExport"><div>{{'xmlExport' | translate}}</div></a>
                </div>
                <h3 style="margin-bottom: 20px;">{{'hoem_or' | translate}}</h3>
                <div id="bc2" class="myBreadcrumb">
                    <a class="" routerLink="/dashboard" (click)="click()"><div>{{'sidebar_dashboard' | translate}}</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-wrapper" [class.show]="!hideSidebar" class="step" [ngClass]="{'open': toggle}">
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a (click)="toggleSidebar()">
                    IBSYS2 - PPS
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>{{'sidebar_taskPlanning' | translate}}</span></li>

            <li class="sidebar-list">
                <a routerLink="/xmlImport" routerLinkActive="active">{{'sidebar_readXML' | translate}}<span class="menu-icon fa fa-file-code-o"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/forecast" routerLinkActive="active">{{'sidebar_forecast' | translate}}<span class="menu-icon fa fa-line-chart"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/materialPlanning" routerLinkActive="active">{{'sidebar_materialPlanning' | translate}}<span class="menu-icon fa fa-shopping-cart"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/materialPlanningEP" routerLinkActive="active">{{'sideBar_MaterialPlanningEP' | translate}}<span class="menu-icon fa fa-truck"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/prioritization" routerLinkActive="active">{{'sidebar_prio' | translate}}<span class="menu-icon fa fa-sort "></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/capacityPlanning" routerLinkActive="active">{{'sidebar_capacityPlanning' | translate}}<span class="menu-icon fa fa-battery-half"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/xmlExport" routerLinkActive="active">{{'xmlExport' | translate}}<span class="menu-icon fa fa-file-code-o"></span></a>
            </li>
            <li class="sidebar-title"><span>{{'sidebar_overview' | translate}}</span></li>
            <li class="sidebar-list">

                <a routerLink="/dashboard" routerLinkActive="active">{{'sidebar_dashboard' | translate}}<span class="menu-icon fa fa-tachometer"></span></a>

            </li>
            <li class="sidebar-list">
                <a routerLink="/partsLists" routerLinkActive="active">{{'sidebar_partsLists' | translate}}<span class="menu-icon fa fa-sitemap"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/kpartAllocation" routerLinkActive="active">{{'sideBar_PartUsage' | translate}}<span class="menu-icon fa fa-university"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/warehousestock" routerLinkActive="active">{{'sidebar_warehouseStock' | translate}}<span class="menu-icon fa fa-bar-chart"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/tasks" routerLinkActive="active">{{'task_todoList' | translate}}<span class="menu-icon fa fa-check-square-o"></span></a>
            </li>
            <li class="sidebar-title"><span>{{'sidebar_settings' | translate}}</span></li>
            <li class="sidebar-list">
                <a routerLink="/workstations" routerLinkActive="active">{{'sidebar_workstations' | translate}}<span class="menu-icon fa fa-television"></span></a>
            </li>
            <li class="sidebar-list">
                <a routerLink="/parts" routerLinkActive="active">{{'sidebar_parts' | translate}}<span class="menu-icon fa fa-cube"></span></a>
            </li>
        </ul>
    </div>
    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <button class="btn btn-primary actualPeriodLabel" (click)="logout()">Logout</button>
                        <div class="item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-language"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    {{'headbar_languages' | translate}}
                                </li>
                                <li class="divider"></li>
                                <li (click)="setLang('de')">
                                    <a>{{'headbar_german' | translate}}</a>
                                </li>
                                <li (click)="setLang('en')">
                                    <a>{{'headbar_english' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


