<div id="page-wrapper" [ngClass]="{'open': toggle}">
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a (click)="toggleSidebar()">
                    IBSYS2 - PPS
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>{{'sidebar_taskPlanning' | translate}}</span></li>
            <li class="sidebar-list">

                <a routerLink="/xmlImport" routerLinkActive="active">{{'sidebar_readXML' | translate}}<span class="menu-icon fa fa-file-code-o"></span></a>

            </li>
            <li class="sidebar-list">
                <a routerLink="/tasks" routerLinkActive="active">{{'sidebar_forecast' | translate}}<span class="menu-icon fa fa-line-chart"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_productView' | translate}}<span class="menu-icon fa fa-eye"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_materialPlanning' | translate}}<span class="menu-icon fa fa-shopping-cart"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_capacityPlanning' | translate}}<span class="menu-icon fa fa-battery-half"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_prio' | translate}}<span class="menu-icon fa fa-sort "></span></a>
            </li>
            <li class="sidebar-title"><span>{{'sidebar_overview' | translate}}</span></li>
            <li class="sidebar-list">
                <a>{{'sidebar_ordersWork' | translate}}<span class="menu-icon fa fa-cogs"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_waitingWorkst' | translate}}<span class="menu-icon fa fa-stop-circle"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_warehouseStock' | translate}}<span class="menu-icon fa fa-bar-chart"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_history' | translate}}<span class="menu-icon fa fa-history"></span></a>
            </li>
            <li class="sidebar-title"><span>{{'sidebar_settings' | translate}}</span></li>
            <li class="sidebar-list">
                <a>{{'sidebar_workstations' | translate}}<span class="menu-icon fa fa-television"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_partsLists' | translate}}<span class="menu-icon fa fa-sitemap"></span></a>
            </li>
            <li class="sidebar-list">
                <a>{{'sidebar_parts' | translate}}<span class="menu-icon fa fa-cube"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://github.com/ziyasal/rdash-angular2" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://github.com/ziyasal/rdash-angular2/blob/master/README.md" target="_blank">
                    About
                </a>
            </div>
            <div class="col-xs-4">
                <a href="javascript:void(0)">
                    Support
                </a>
            </div>
        </div>
    </div>
    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-language"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    {{'headbar_languages' | translate}}
                                </li>
                                <li class="divider"></li>
                                <li (click)="setLang('de')">
                                    <a>{{'headbar_german' | translate}}</a>
                                </li>
                                <li (click)="setLang('en')">
                                    <a>{{'headbar_english' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>

        </div>


    </div>
</div>

