<div class="well">
    <div class="">
        <div class="row">
            <h2>Dashboard</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Criticals:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let crit of criticals" class="col-md-2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(crit)"><i class="fa fa-times"></i></span>
                    Danger!
                    <p>{{crit.name}}</p>
                </div>
                <div class="panel-body">
                    <span>Value: {{crit.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Warnings:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let crit of warnings" class="col-md-2">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(crit)"><i class="fa fa-times"></i></span>
                    Warning!
                    <p>{{crit.name}}</p>
                </div>
                <div class="panel-body">
                    <span>Value: {{crit.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            Goods:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let crit of goods" class="col-md-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(crit)"><i class="fa fa-times"></i></span>
                    Well done!
                    <p>{{crit.name}}</p>
                </div>
                <div class="panel-body">
                    <span>Value: {{crit.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>