<div class="well">
    <div class="">
        <div class="row">
            <span>
                <h2>{{'sidebar_dashboard' | translate}}
                    <button class="btn btn-primary btn-lg pull-right" (click)="setConfig()">
                        <i class="fa fa-cogs"></i>
                    </button>
                </h2>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            {{'dashboard_critical' | translate}}:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let crit of criticals" class="col-md-2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(crit)"><i class="fa fa-times"></i></span>
                    {{'dashboard_danger' | translate}}!
                    <p *ngIf="crit.from === 'warehousestock'">{{'dashboard_warehouse_crit' | translate}}{{crit.displayValue}}</p>
                    <p *ngIf="crit.from === 'deliveryreliability'">{{'dashboard_deliveryreliabiliy_bad' | translate}}: {{crit.displayValue}}</p>
                </div>
                <div class="panel-body">
                    <p *ngIf="crit.article" >{{'dashboard_article' | translate}}: {{crit.article}}</p>
                    <span *ngIf="crit.value">{{'dashboard_value' | translate}}: {{crit.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">
            {{'dashboard_warning' | translate}}:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let warn of warnings" class="col-md-2">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(warn)"><i class="fa fa-times"></i></span>
                    {{'dashboard_warning' | translate}}!
                    <br>
                    <p *ngIf="warn.from === 'warehousestock'">{{'dashboard_warehouse_warn' | translate}}{{warn.displayValue}}</p>
                    <p *ngIf="warn.from === 'deliveryreliability'">{{'dashboard_deliveryreliabiliy_bad' | translate}}: {{warn.displayValue}}</p>
                </div>
                <div class="panel-body">
                    <p *ngIf="warn.article" >{{'dashboard_article' | translate}}: {{warn.article}}</p>
                    <span *ngIf="warn.value">{{'dashboard_value' | translate}}: {{warn.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            {{'dashboard_good' | translate}}:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let good of goods" class="col-md-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(good)"><i class="fa fa-times"></i></span>
                    {{'dashboard_good' | translate}}!
                    <p *ngIf="good.from === 'warehousestock'">{{'dashboard_warehouse_good' | translate}}: {{good.displayValue | percent}}</p>
                    <p *ngIf="good.from === 'deliveryreliability'">{{'dashboard_deliveryreliabiliy_good' | translate}}: {{good.displayValue}}</p>
                </div>
                <div class="panel-body">
                    <p *ngIf="good.article" >{{'dashboard_article' | translate}}: {{good.article}}</p>
                    <span *ngIf="good.value">{{'dashboard_value' | translate}}: {{good.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<modal #configuration>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{'dashboard_configuration' | translate}}</h4>
    </modal-header>
    <modal-body>
        <div>
            <table class="table table-striped">
                <tr>
                    <th> {{'dashboard_types' | translate}} </th>
                    <td> {{'dashboard_onoff' | translate}}</td>
                </tr>
                <tr *ngFor="let type of dashTaskTypes">
                    <td> {{type}} </td>
                    <td> <input type="radio" [checked]="isSelected(type)" (click)="clickRadio(type)">  </td>
                </tr>
            </table>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="closeConfig()">Ok</button>
    </modal-footer>
</modal>
