<div class="well">
    <div class="">
        <div class="row">
            <span>
                <h2>Dashboard
                    <button class="btn btn-primary btn-lg pull-right" (click)="setConfig()">
                        <i class="fa fa-cogs"></i>
                    </button>
                </h2>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Criticals:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let crit of criticals" class="col-md-2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(crit)"><i class="fa fa-times"></i></span>
                    Danger!
                    <p>{{crit.name}}</p>
                </div>
                <div class="panel-body">
                    <p>Article: {{crit.article}}</p>
                    <p>Value: {{crit.value}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Warnings:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let warn of warnings" class="col-md-2">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(warn)"><i class="fa fa-times"></i></span>
                    Warning!
                    <p>{{warn.name}}</p>
                </div>
                <div class="panel-body">
                    <p>Article: {{warn.article}}</p>
                    <span>Value: {{warn.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            Goods:
        </div>
    </div>
</div>

<div class="container-fluid well">
    <div class="row">
        <div *ngFor="let good of goods" class="col-md-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="pull-right clickable" data-effect="fadeOut" (click)="deleteClicked(good)"><i class="fa fa-times"></i></span>
                    Well done!
                    <p>{{good.name}}</p>
                </div>
                <div class="panel-body">
                    <p>Article: {{good.article}}</p>
                    <span>Value: {{good.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<modal #configuration>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Configuration</h4>
    </modal-header>
    <modal-body>
        <div *ngFor="let type of dashTaskTypes">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" aria-label="test">
                </span>
                <input type="text" disabled="true" class="form-control" aria-label="test" placeholder="{{type}}">
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalConfig.close()">Ok</button>
    </modal-footer>
</modal>
