<!-- <div class="well">
    <div class="">
        <div class="row">
            <h2>Kapazitätsplanung</h2>
            <ul class="breadcrumb">
                <li class="completed"><a routerLink="/xmlImport" routerLinkActive="active">{{'xmlImport' | translate}}</a></li>
                <li class="completed"><a routerLink="/prediction" routerLinkActive="active">{{'prediction_planning' | translate}}</a></li>
                <li class="completed"><a routerLink="/materialPlanning" routerLinkActive="active">{{'material_Planning' | translate}}</a></li>
                <li class="active"><a routerLink="/capacityPlanning" routerLinkActive="active">{{'capacity_planning' | translate}}</a></li>
            </ul>
        </div>
    </div>
</div> -->

<div class="form-group">
    <label for="mpEP_pparts">Produkt</label>
    <ss-multiselect-dropdown [options]="productOptions" [texts]="multiSelectTexts" [settings]="productSettings"
                             [(ngModel)]="auswahl" id="mpEP_pparts" (ngModelChange)="filterList($event)">

    </ss-multiselect-dropdown>
</div>

<div class="container-fluid well" [hidden]="!(auswahl != undefined && auswahl.length == 1)">
    <table class="table-responsive">
        <thead>
        <tr>
            <th class="text-center" colspan="100%">Dispo Eigenfertigung</th>
        </tr>
        <tr>
            <th></th>
            <th>Verbindliche Aufträge</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Gepl. Lager Ende Planperiode</th>
            <th></th>
            <th>Lagerbestand Vorperiode</th>
            <th></th>
            <th>Aufträge Warteschlange</th>
            <th></th>
            <th>Aufträge Bearbeitung</th>
            <th></th>
            <th>Produktionsaufträge</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pt of partsListSingle">
            <td width="4%" align="left">{{pt.teil.child.typ + pt.teil.child.nummer}}</td>
            <td width="10%"><input type="number" class="form-control" [(ngModel)]="auftraegeVerbindl[part.typ + part.nummer + '_' + pt.teil.child.nummer]" readonly></td>

            <td *ngIf="pt.teil.child.typ !== 'P'" width="4%" align="center">+</td>
            <td *ngIf="pt.teil.child.typ !== 'P'" width="10%" align="center"><input type="number" class="form-control" [(ngModel)]="auftraegeWarteschlAddiert[part.typ + part.nummer + '_' + pt.teil.child.nummer]" readonly></td>
            <td *ngIf="pt.teil.child.typ !== 'P'" width="4%" align="center">+</td>

            <td *ngIf="pt.teil.child.typ === 'P'" width="4%" colspan="3" align="center">+</td>

            <td width="10%" align="center"><input type="number" class="form-control" min="0" [(ngModel)]="geplLagerbestand[part.typ + part.nummer + '_' + pt.teil.child.nummer]" (ngModelChange)="updateArrays(false)"></td>
            <td width="4%" align="center">-</td>
            <td width="10%" align="center"><input type="number" class="form-control" [(ngModel)]="lagerbestandVorperiode[part.typ + part.nummer + '_' + pt.teil.child.nummer]" readonly></td>
            <td width="4%" align="center">-</td>
            <td width="10%" align="center"><input type="number" class="form-control" [(ngModel)]="auftraegeWarteschl[part.typ + part.nummer + '_' + pt.teil.child.nummer]" readonly></td>
            <td width="4%" align="center">-</td>
            <td width="10%" align="center"><input type="number" class="form-control" [(ngModel)]="auftraegeBearb[part.typ + part.nummer + '_' + pt.teil.child.nummer]" readonly></td>
            <td width="4%" align="center">=</td>
            <td width="12%" align="center"><input type="number" class="form-control" [(ngModel)]="prodAuftraege[part.typ + part.nummer + '_' + pt.teil.child.nummer]" readonly></td>
            <br><br>
        </tr>

        </tbody>
    </table>
</div>
