<!-- <div class="well">
    <div class="">
        <div class="row">
            <h2>Kapazitätsplanung</h2>
            <ul class="breadcrumb">
                <li class="completed"><a routerLink="/xmlImport" routerLinkActive="active">{{'xmlImport' | translate}}</a></li>
                <li class="completed"><a routerLink="/prediction" routerLinkActive="active">{{'prediction_planning' | translate}}</a></li>
                <li class="completed"><a routerLink="/materialPlanning" routerLinkActive="active">{{'material_Planning' | translate}}</a></li>
                <li class="active"><a routerLink="/capacityPlanning" routerLinkActive="active">{{'capacity_planning' | translate}}</a></li>
            </ul>
        </div>
    </div>
</div> -->

<div class="form-group">
    <label for="mpEP_pparts">Produkt</label>
    <ss-multiselect-dropdown [options]="productOptions" [texts]="multiSelectTexts" [settings]="productSettings"
                             [(ngModel)]="auswahl" id="mpEP_pparts" (ngModelChange)="generatePartsList($event)">

    </ss-multiselect-dropdown>
</div>

<div class="container-fluid well" [hidden]="!(auswahl != undefined && auswahl.length == 1)">
    <table class="table-responsive">
        <thead>
        <tr>
            <th class="text-center" colspan="100%">Dispo Eigenfertigung</th>
        </tr>
        <tr>
            <th></th>
            <th>Verbindliche Aufträge</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Gepl. Lager Ende</th>
            <th></th>
            <th>Lagerbestand Vorper</th>
            <th></th>
            <th>Aufträge Warteschl</th>
            <th></th>
            <th>Aufträge Bearb</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let part of partsList">
            <td>{{part.typ + part.nummer}}</td>
            <td><input type="text" class="form-control"></td>
            <td>+</td>
            <td><input type="text" class="form-control"></td>
            <td>+</td>
            <td><input type="text" class="form-control"></td>
            <td>-</td>
            <td><input type="text" class="form-control"></td>
            <td>-</td>
            <td><input type="text" class="form-control"></td>
            <td>-</td>
            <td><input type="text" class="form-control"></td>
            <td>=</td>
            <td><input type="text" class="form-control"></td>
        </tr>

        </tbody>
    </table>
</div>
