<div class="container-fluid">
    <h1>{{'setWorkstations_workstations' | translate}}</h1>
</div>
<div class="well col-md-3" style="margin-left: 1%; margin-right: 1%;">
    <div class="form-group">
        <label for="ws_nummer">{{'setWorkstations_number' | translate}}</label>
        <input type="number" min="1" [(ngModel)]="nummer" name="nummer" class="form-control" placeholder="{{'setWorkstations_number' | translate}}" id="ws_nummer">
    </div>
    <div class="form-group">
        <label for="ws_name">{{'setWorkstations_name' | translate}}</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="{{'setWorkstations_name' | translate}}" id="ws_name">
    </div>
    <div class="form-group" align="right">
        <button type="button" class="btn btn-danger" (click)="_id = null; nummer = null; name = null;">
            {{'setWorkstations_reset' | translate}}</button>
        <button type="button" class="btn btn-success" (click)="updateWorkstation($event)">
            <span *ngIf="!_id">{{'setWorkstations_add' | translate}}</span>
            <span *ngIf="_id">{{'setWorkstations_update' | translate}}</span>
        </button>
    </div>
</div>

<div class="well col-md-8" style="margin-left: 1%; margin-right: 1%;">
    <table width="100%">
        <thead>
        <tr>
            <th width="10%">{{'setWorkstations_number' | translate}}</th>
            <th width="65%">{{'setWorkstations_name' | translate}}</th>
            <th width="12.5%"></th>
            <th width="12.5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ws of workstations" style="height: 40px;">
            <td width="10%">
                {{ws.nummer}}
            </td>
            <td width="65%">
                {{ws.name}}
            </td>
            <td width="12.5%" style="padding-right: 5px" align="right">
                <input type="button"  value="{{'setWorkstations_edit' | translate}}"
                       class="btn btn-info" (click)="_id = ws._id; nummer = ws.nummer; name = ws.name">
            </td>
            <td width="12.5%" style="padding-left: 5px" align="left">
                <input type="button"  value="{{'setWorkstations_delete' | translate}}"
                       class="btn btn-danger" (click)="deleteWorkstation(ws._id)">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<modal #modalWsExists>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{'setWorkstations_exists' | translate}}</h4>
    </modal-header>
    <modal-body>
        {{'setWorkstations_number' | translate}} {{this.nummer}} {{'setWorkstations_exists_body' | translate}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalWsExists.close()">Ok</button>
    </modal-footer>
</modal>
<modal #modalWsEmpty>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{'setWorkstations_empty' | translate}}</h4>
    </modal-header>
    <modal-body>
        {{'setWorkstations_empty_body' | translate}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modalWsEmpty.close()">Ok</button>
    </modal-footer>
</modal>