
  <!--
   <p-dataTable>
       <p-column field="vin" header="Vin"></p-column>
       <p-column field="year" header="Year"></p-column>
       <p-column field="brand" header="Brand"></p-column>
       <p-column field="color" header="Color"></p-column>
   </p-dataTable>
-->
  <div class="well text-center">
      <h2 style="margin-bottom: 20px; margin-top: 0px;">{{'capacity_planning' | translate}}</h2>
      <div id="bc1" class="myBreadcrumb">
          <a class="completed" routerLink="/xmlImport"><div>{{'xmlImport' | translate}}</div></a>
          <a class="completed" routerLink="/forecast"><div>{{'prediction_planning' | translate}}</div></a>
          <a class="completed" routerLink="//materialPlanningEP"><div>{{'mpEP_MaterialPlanningEP' | translate}}</div></a>
          <a class="completed" routerLink="/materialPlanning"><div>{{'material_Planning' | translate}}</div></a>
          <a class="completed" routerLink="/prioritization"><div>{{'sidebar_prio' | translate}}</div></a>
          <a class="active" routerLink="/capacityPlanning"><div>{{'capacity_planning' | translate}}</div></a>
          <a class="" routerLink="/xmlExport"><div>{{'xmlExport' | translate}}</div></a>
      </div>
  </div>
  <div class="container-fluid">
    <table class="table-responsive table-bordered table-striped">
        <thead>
        <tr>
            <th class="text-center" colspan="100%">{{'capacity_workstations' | translate}}</th>
        </tr>
        <tr>
            <th width="5%" class="text-center">{{'capacity_parts' | translate}}</th>
            <th width="5%" class="text-center">{{'capacity_amount' | translate}}</th>
            <th *ngFor="let workstation of workstations" class="text-center">{{workstation.nummer}}</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let al of artikelListe">
            <td width="5%">{{al.part}}</td>
            <td width="5%">{{al.menge}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let zw of al.zuweisung">
                    <span *ngIf="zw[0] === ws.nummer">{{zw[1] * al.menge}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_requirements' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer">{{cap.capacity}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_freeTime' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer">{{cap.leerzeit}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_setupTime' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer">{{cap.ruestzeit}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_capacityBacklog' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer">{{cap.capacityWait}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_setupTimeBacklog' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer">{{cap.ruestWait}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_totalCapacity' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer" [ngClass]="{redlining: cap.gesamt > 7200}">{{cap.gesamt}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">Puffer</td>
            <td *ngFor="let ws of workstations" align="center">
                <input type="number" class="form-control" [(ngModel)]="puffer[ws.nummer]" (ngModelChange)="updateShifts(ws.nummer)">
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_shifts' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer">{{cap.schichten}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <td width="5%" colspan="2">{{'capacity_overtime' | translate}}</td>
            <td *ngFor="let ws of workstations" align="center">
                <span *ngFor="let cap of capacities">
                    <span *ngIf="cap.workstationNumber === ws.nummer">{{cap.ueberstunden}}</span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
  </div>
  <br>
