<div class="well">
    <div class="">
        <div class="row">
            <span>
                <h2 align="center">{{'sidebar_partsLists' | translate}}
                </h2>
            </span>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="form-group">
    <label for="partsList_pparts">{{'setPartsList_Product' | translate}}</label>
    <ss-multiselect-dropdown [options]="productOptions" [texts]="multiSelectTexts" [settings]="productSettings"
                             [(ngModel)]="auswahl" id="partsList_pparts" (ngModelChange)="generatePartsList($event)">

    </ss-multiselect-dropdown>
</div>

<!-- <div class="container-fluid well" [hidden]="!(auswahl != undefined && auswahl.length == 1)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>{{ "1x " + part.typ + part.nummer + " - " + part.bezeichnung}}</p>
        </div>
        <div class="panel-body">
            <table width="100%" align="top" >
                <tr>
                    <td *ngFor="let best of partsList.bestandteile" valign="top" style="padding: 2px">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <p>{{ best.typ + best.nummer}}</p>
                            </div>
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <td *ngFor="let best of best.bestandteile" valign="top" style="padding: 2px">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <p>{{ best.typ + best.nummer}}</p>
                                                </div>
                                                <div class="panel-body">
                                                    <table>
                                                        <tr>
                                                            <td *ngFor="let best of best.bestandteile" valign="top" style="padding: 2px">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-heading">
                                                                        <p>{{best.typ + best.nummer}}</p>
                                                                    </div>
                                                                    <div class="panel-body">
                                                                        <table>
                                                                            <tr>
                                                                                <td *ngFor="let best of best.bestandteile" valign="top" style="padding: 2px">
                                                                                    <div class="panel panel-primary">
                                                                                        <div class="panel-heading">
                                                                                            <p>{{best.typ + best.nummer}}</p>
                                                                                        </div>
                                                                                        <div class="panel-body">
                                                                                            <table>
                                                                                                <tr>
                                                                                                    <td *ngFor="let best of best.bestandteile" valign="top" style="padding: 2px">
                                                                                                        <div class="panel panel-primary">
                                                                                                            <div class="panel-heading">
                                                                                                                <p>{{best.typ + best.nummer}}</p>
                                                                                                            </div>
                                                                                                            <div class="panel-body">
                                                                                                                {{best.anzahl}}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                            {{best.anzahl}}
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        {{best.anzahl}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{best.anzahl}}
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{best.anzahl}}
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div> -->
<div class="col-md-9">
<div class="container-fluid well" [hidden]="!(auswahl != undefined && auswahl.length == 1)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>{{part.typ + part.nummer + " - "}}{{part.bezeichnung | translate}}</p>
        </div>
        <div class="panel-body">
            <table width="100%" align="top">
                <tr *ngFor="let z of zeilen" style="border-bottom: dotted 1px">
                    <td valign="top" *ngFor="let col of getNumber(columns)">
                        <span *ngIf="z.column === col"> {{z.teil}} </span>

                    </td>
                    <td align="right"> {{z.anzahl}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<div class="col-md-3">
<div class="container-fluid well" [hidden]="!(auswahl != undefined && auswahl.length == 1)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>{{'setPartsList_Overview' | translate}}</p>
        </div>
        <div class="panel-body">
    <table width="100%">
        <tr *ngFor="let u of uebersicht" style="border-bottom: dotted 1px">
            <td>{{u.teil}}</td>
            <td align="right">{{u.anzahl}}</td>
        </tr>
    </table>
        </div>
    </div>
</div>
</div>
</div>