<div class="well text-center">
    <h2 style="margin-bottom: 20px; margin-top: 0px;">{{'sidebar_prio' | translate}}</h2>
    <div id="bc1" class="myBreadcrumb">
        <a class="completed" routerLink="/xmlImport"><div>{{'xmlImport' | translate}}</div></a>
        <a class="completed" routerLink="/prediction"><div>{{'prediction_planning' | translate}}</div></a>
        <a class="completed" routerLink="/materialPlanning"><div>{{'material_Planning' | translate}}</div></a>
        <a class="completed" routerLink="//materialPlanningEP"><div>{{'material_Planning' | translate}} 2</div></a>
        <a class="active" routerLink="/prioritization"><div>{{'sidebar_prio' | translate}}</div></a>
        <a class="" routerLink="/capacityPlanning"><div>{{'capacity_planning' | translate}}</div></a>
        <a class="" routerLink="/xmlExport"><div>{{'xmlExport' | translate}}</div></a>
    </div>
</div>

<div class="container">
    <h4>Welche Priorisierung möchten Sie vornehmen?</h4>

    <div class="col-sm-3 jumbotron jumptronhover" (click)="selector = 'automatic'" style="margin-left: 10px">
        <h5>Voll Automatisch</h5>
    </div>
    <div class="col-sm-3 jumbotron jumptronhover" (click)="selector = 'endProduct'" style="margin-left: 10px">
        <h5>Nach Endprodukten</h5>
    </div>
    <div class="col-sm-3 jumbotron jumptronhover" (click)="selector = 'manual'" style="margin-left: 10px">
        <h5>Alles Manuell</h5>
    </div>
</div>
<div *ngIf="(selector == 'automatic')" class="container">
    <h4>Voll Automatisch:</h4>

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Endprodukte:
                </div>
                <div class="panel-body">
                    <ul class="list-group" dnd-sortable-container [sortableData]="produzierbareAuftraege">
                        <li *ngFor="let item of produzierbareAuftraege; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
                            <span class="tag tag-default pull-right">{{item.Anzahl}}</span><button class="btn btn-xs pull-right" style="margin-right: 10" (click)="setModalView(item, i)">+</button>
                            {{item.Teil.typ}} {{item.Teil.nummer}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    My priorization:<br/>
                    <span *ngFor="let item of produzierbareAuftraege; let i = index">{{i + 1}}) {{item.Teil.typ}} {{item.Teil.nummer}} ({{item.Teil.bezeichnung}})<br/></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(selector == 'endProduct')" class="container">
    <h4>Nach Endprodukten:</h4>

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Endprodukte:
                </div>
                <div class="panel-body">
                    <ul class="list-group" dnd-sortable-container [sortableData]="pParts">
                        <li *ngFor="let item of pParts; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{i + 1}}. {{item.typ}} {{item.nummer}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    My priorization:<br/>
                    <span *ngFor="let item of pParts; let i = index">{{i + 1}}) {{item.typ}} {{item.nummer}} ({{item.bezeichnung}})<br/></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    Leerzeiten:<br/>
                    <span> 10000 Minuten<br/></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(selector == 'manual')" class="container">
    <h4>Alles Manuell:</h4>

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Endprodukte:
                </div>
                <div class="panel-body">
                    <ul class="list-group" dnd-sortable-container [sortableData]="epParts">
                        <li *ngFor="let item of epParts; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item.typ}} {{item.nummer}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    My priorization:<br/>
                    <span *ngFor="let item of epParts; let i = index">{{i + 1}}) {{item.typ}} {{item.nummer}} ({{item.bezeichnung}})<br/></span>
                </div>
            </div>
        </div>
    </div>
</div>
<modal #splitting>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Splitting</h4>
    </modal-header>
    <modal-body>
        <div class="well">
            <label>Teil ID: {{splittingPart.nummer}} - Anzahl: {{splittingAnzahl2 - splittingAnzahl}}</label>

            <div class="form-group">
                <label>Anzahl des neuen Auftrags:</label>
                <input type="text" [(ngModel)]="splittingAnzahl" name="anzahl" class="form-control" placeholder="0">
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="closeModalView()">Abbrechen</button>
        <button type="button" class="btn btn-success" (click)="saveModalView()">Save</button>
    </modal-footer>
</modal>
